/bloom
/documentation
*.mp4
*.json
*.log
/neo4j44
/data/fraud-detection-35.dump
/data/fraud-detection-43.dump
/data/fraud-detection-50.dump
/scripts
/code/python/README.md
/code/python/neo4j_connection.py
/code/python/neo4j_query_example.py
/code/python/fraud_detection_runner.py
/code/cypher/README.md
/code/cypher/run_all.cypher
*.zip
*__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.png
